.main{
    min-height: 85.5vh;
}
.signup-page{
       /* keeps it fixed behind content */
  top: 0;
  left: 2;
  width: 100%;
  min-height: 100vh;
  background-image: url("/signup-page.jpg"); /* put image in public/images */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
   z-index: -1;  
}
.signup-card {
  width: 350px;
  background: rgba(234, 234, 234, 0.5);
  backdrop-filter: blur(4px);
}